body{  background: rgb(206, 204, 204); }

#container{
  width: 60vw;
  height: 50vh;
  position: absolute;
  top: 15%;
  left: 20%;
  border: 2px solid rgb(97, 96, 96);
  border-radius: 7px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

img{
  border-radius: 5px;
  object-fit: cover;
  overflow: hidden;
}

#prev, #next{
  position:absolute;
  cursor:pointer;
  z-index:100;
}

#prev{
  top: 35%;
  left: -1.4%;
}

#next{
  top: 35%;
  left: 94%;
} 